@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Primative */
  /* color */
  --colors-black-a40: #00000066;
  --colors-black-a60: #00000099;
  --colors-blue-300: #5297b4;
  --colors-blue-300-t: #5297b480;
  --colors-blue-500: #277da1;
  --colors-blue-700: #1f6481;
  --colors-gold-100: #ffefc2;
  --colors-gold-200: #ffe390;
  --colors-gold-300: #ffd45a;
  --colors-gold-400: #f9c435;
  --colors-gold-50: #fff8e6;
  --colors-gold-500: #fdb927;
  --colors-gold-600: #e0a21f;
  --colors-gold-700: #b88019;
  --colors-gold-800: #8f6114;
  --colors-gold-900: #6d4710;
  --colors-green-300: #68bba2;
  --colors-green-300-t: #68bba280;
  --colors-green-500: #42aa8b;
  --colors-green-700: #35886f;
  --colors-indigo-300: #714770;
  --colors-indigo-500: #4d194d;
  --colors-indigo-700: #3d143d;
  --colors-navy-300: #4d596a;
  --colors-navy-500: #212f45;
  --colors-navy-700: #1a2637;
  --colors-neutral-100: #f4f4f4;
  --colors-neutral-200: #ececec;
  --colors-neutral-300: #cccccc;
  --colors-neutral-400: #999999;
  --colors-neutral-50: #ffffff;
  --colors-neutral-500: #666666;
  --colors-neutral-600: #333333;
  --colors-neutral-700: #222222;
  --colors-neutral-800: #111111;
  --colors-neutral-900: #000000;
  --colors-orange-300: #fa9c6e;
  --colors-orange-300-t: #fa9c6e80;
  --colors-orange-500: #f9844a;
  --colors-orange-700: #c7693b;
  --colors-pink-300: #de5c9c;
  --colors-pink-500: #d63384;
  --colors-pink-700: #ab2869;
  --colors-primary-100: #ffe1e6;
  --colors-primary-200: #ffc4ce;
  --colors-primary-300: #ff97aa;
  --colors-primary-400: #f05b6f;
  --colors-primary-50: #fff1f3;
  --colors-primary-500: #d41735;
  --colors-primary-600: #a6192e;
  --colors-primary-700: #870c22;
  --colors-primary-800: #69091b;
  --colors-primary-900: #4e0715;
  --colors-purple-300: #a673a3;
  --colors-purple-500: #90518c;
  --colors-purple-700: #734170;
  --colors-red-300: #ff8989;
  --colors-red-300-t: #ff898980;
  --colors-red-500: #e05050;
  --colors-red-700: #cc5555;
  --colors-sand-300: #f6f5f1;
  --colors-sand-500: #f4f3ee;
  --colors-sand-700: #c3c2be;
  --colors-secondary-100: #e5e5e5;
  --colors-secondary-200: #d4d4d4;
  --colors-secondary-300: #a3a3a3;
  --colors-secondary-400: #737373;
  --colors-secondary-50: #f5f5f5;
  --colors-secondary-500: #525252;
  --colors-secondary-600: #404040;
  --colors-secondary-700: #2d2828;
  --colors-secondary-800: #171717;
  --colors-secondary-900: #000000;
  --colors-teal-300: #338384;
  --colors-teal-500: #006466;
  --colors-teal-700: #005252;
  --colors-yellow-300: #fcd34d;
  --colors-yellow-300-t: #fcd34d80;
  --colors-yellow-500: #f59e0b;
  --colors-yellow-700: #b45309;
  /* number */
  --border-width-0: 0px;
  --border-width-25: 0.5px;
  --border-width-50: 1px;
  --border-width-100: 2px;
  --border-width-150: 3px;
  --border-width-200: 4px;
  --breakpoints-375: 375px;
  --breakpoints-480: 480px;
  --breakpoints-640: 640px;
  --breakpoints-768: 768px;
  --breakpoints-1024: 1024px;
  --breakpoints-1440: 1440px;
  --focus-ring-offset: 2px;
  --focus-ring-width: 2px;
  --font-letter-tight: -0.009999999776482582px;
  --font-letter-normal: 0px;
  --font-letter-relaxed: 0.009999999776482582px;
  --font-line-compact: 1.25px;
  --font-line-normal: 1.5px;
  --font-line-relaxed: 1.75px;
  --font-size-75: 12px;
  --font-size-100: 14px;
  --font-size-150: 16px;
  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-500: 24px;
  --font-size-350: 28px;
  --font-weight-400: 400px;
  --font-weight-500: 500px;
  --font-weight-600: 600px;
  --font-weight-bold: 700px;
  --opacity-subtle: 0.07999999821186066px;
  --opacity-disabled: 0.4000000059604645px;
  --opacity-overlay: 0.6000000238418579px;
  --radius-0: 0px;
  --radius-50: 4px;
  --radius-100: 8px;
  --radius-200: 12px;
  --radius-300: 16px;
  --radius-500: 24px;
  --radius-1000: 9999px;
  --size-0: 0px;
  --size-50: 4px;
  --size-100: 8px;
  --size-150: 12px;
  --size-200: 16px;
  --size-250: 20px;
  --size-300: 24px;
  --size-350: 28px;
  --size-400: 32px;
  --size-450: 36px;
  --size-500: 40px;
  --size-550: 44px;
  --size-600: 48px;
  --size-650: 52px;
  --size-700: 56px;
  --size-750: 64px;
  --size-800: 68px;
  --size-850: 72px;
  --size-900: 76px;
  --size-950: 80px;
  --size-1000: 84px;
  --space-0: 0px;
  --space-25: 2px;
  --space-50: 4px;
  --space-75: 8px;
  --space-100: 12px;
  --space-150: 16px;
  --space-200: 20px;
  --space-250: 24px;
  --space-300: 28px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-800: 64px;
  --space-900: 72px;
  --space-1000: 80px;
  --width-0: 0px;
  --width-50: 40px;
  --width-100: 80px;
  --width-150: 120px;
  --width-200: 160px;
  --width-250: 200px;
  --width-300: 240px;
  --width-350: 280px;
  --width-400: 320px;
  --width-450: 360px;
  --width-500: 400px;
  --width-550: 440px;
  --width-600: 480px;
  --width-650: 520px;
  --width-700: 560px;
  --width-750: 640px;
  --width-800: 680px;
  --width-850: 720px;
  --width-900: 760px;
  --width-950: 800px;
  --width-1000: 840px;

  /* Semantic */
  /* color */
  --accent-green-dark: var(--colors-green-700);
  --accent-green-light: var(--colors-green-300);
  --accent-green-primary: var(--colors-green-500);
  --accent-indigo-dark: var(--colors-indigo-700);
  --accent-indigo-light: var(--colors-indigo-300);
  --accent-indigo-primary: var(--colors-indigo-500);
  --accent-navy-dark: var(--colors-navy-700);
  --accent-navy-light: var(--colors-navy-300);
  --accent-navy-primary: var(--colors-navy-500);
  --accent-neutral-dark: var(--colors-neutral-500);
  --accent-neutral-light: var(--colors-neutral-300);
  --accent-neutral-primary: var(--colors-neutral-400);
  --accent-orange-dark: var(--colors-orange-700);
  --accent-orange-light: var(--colors-orange-300);
  --accent-orange-primary: var(--colors-orange-500);
  --accent-pink-dark: var(--colors-pink-700);
  --accent-pink-light: var(--colors-pink-300);
  --accent-pink-primary: var(--colors-pink-500);
  --accent-purple-dark: var(--colors-purple-700);
  --accent-purple-light: var(--colors-purple-300);
  --accent-purple-primary: var(--colors-purple-500);
  --accent-red-dark: var(--colors-red-700);
  --accent-red-light: var(--colors-red-300);
  --accent-red-primary: var(--colors-red-500);
  --accent-sand-dark: var(--colors-sand-700);
  --accent-sand-light: var(--colors-sand-300);
  --accent-sand-primary: var(--colors-sand-500);
  --accent-teal-dark: var(--colors-teal-700);
  --accent-teal-light: var(--colors-teal-300);
  --accent-teal-primary: var(--colors-teal-500);
  --accent-yellow-dark: var(--colors-yellow-700);
  --accent-yellow-light: var(--colors-yellow-300);
  --accent-yellow-primary: var(--colors-yellow-500);
  --accent-yellow-transparent: var(--colors-yellow-300-t);
  --border-color-default: var(--colors-neutral-400);
  --border-color-disabled: var(--colors-neutral-200);
  --border-color-emphasis: var(--colors-neutral-600);
  --border-color-error: var(--colors-red-500);
  --border-color-focus: var(--colors-blue-500);
  --border-color-subtle: var(--colors-neutral-300);
  --brand-primary-active: var(--colors-primary-400);
  --brand-primary-dark: var(--colors-primary-600);
  --brand-primary-default: var(--colors-primary-500);
  --brand-primary-light: var(--colors-primary-400);
  --brand-primary-pressed: var(--colors-primary-600);
  --brand-secondary-active: var(--colors-secondary-800);
  --brand-secondary-dark: var(--colors-secondary-900);
  --brand-secondary-default: var(--colors-secondary-900);
  --brand-secondary-light: var(--colors-secondary-700);
  --brand-secondary-pressed: var(--colors-secondary-700);
  --status-error-dark: var(--colors-red-700);
  --status-error-light: var(--colors-red-300);
  --status-error-primary: var(--colors-red-500);
  --status-error-transaparent: var(--colors-red-300-t);
  --status-info-dark: var(--colors-blue-700);
  --status-info-light: var(--colors-blue-300);
  --status-info-primary: var(--colors-blue-500);
  --status-info-transparent: var(--colors-blue-300-t);
  --status-success-dark: var(--colors-green-700);
  --status-success-light: var(--colors-green-300);
  --status-success-primary: var(--colors-green-500);
  --status-success-transparent: var(--colors-green-300-t);
  --status-warning-dark: var(--colors-orange-700);
  --status-warning-light: var(--colors-orange-300);
  --status-warning-primary: var(--colors-orange-500);
  --status-warning-transparent: var(--colors-orange-300-t);
  --surface-active: var(--colors-neutral-200);
  --surface-alt: var(--colors-neutral-50);
  --surface-base: var(--colors-neutral-100);
  --surface-overlay: var(--colors-black-a60);
  --surface-pressed: var(--colors-neutral-200);
  --surface-transparent: #aaaaaa00;
  --text-color-disabled: var(--colors-neutral-400);
  --text-color-error: var(--colors-red-500);
  --text-color-inverse: var(--colors-neutral-50);
  --text-color-link: var(--colors-blue-500);
  --text-color-primary: var(--colors-neutral-900);
  --text-color-secondary: var(--colors-neutral-500);
  /* number */
  --avatar-size-small: var(--size-400);
  --avatar-size-default: var(--avatar-size-medium);
  --avatar-size-medium: var(--size-500);
  --avatar-size-xlarge: var(--size-550);
  --avatar-size-large: var(--size-600);
  --border-width-none: var(--border-width-0);
  --border-width-default: var(--border-width-thin);
  --border-width-thin: var(--border-width-50);
  --border-width-thick: var(--border-width-100);
  --breakpoint-xs: var(--breakpoints-375);
  --breakpoint-sm: var(--breakpoints-480);
  --breakpoint-md: var(--breakpoints-640);
  --breakpoint-lg: var(--breakpoints-768);
  --breakpoint-xl: var(--breakpoints-1024);
  --breakpoint-2xl: var(--breakpoints-1440);
  --gap-none: var(--space-none);
  --gap-tight: var(--space-tight);
  --gap-compact: var(--space-compact);
  --gap-regular: var(--space-default);
  --gap-comfortable: var(--space-comfortable);
  --gap-loose: var(--space-loose);
  --gap-spacious: var(--space-spacious);
  --height-xxsmall: var(--size-350);
  --height-xsmall: var(--size-400);
  --height-small: var(--size-450);
  --height-medium: var(--size-550);
  --height-large: var(--size-650);
  --height-xlarge: var(--size-750);
  --height-xxlarge: var(--size-850);
  --height-xxxlarge: var(--size-950);
  --icon-xsmall: var(--size-150);
  --icon-small: var(--size-200);
  --icon-default: var(--icon-medium);
  --icon-medium: var(--size-250);
  --icon-large: var(--size-300);
  --icon-xlarge: var(--size-350);
  --padding-none: var(--space-none);
  --padding-tight: var(--space-tight);
  --padding-compact: var(--space-compact);
  --padding-regular: var(--space-default);
  --padding-comfortable: var(--space-comfortable);
  --padding-loose: var(--space-loose);
  --padding-spacious: var(--space-spacious);
  --radius-none: var(--radius-0);
  --radius-sm: var(--radius-50);
  --radius-md: var(--radius-100);
  --radius-lg: var(--radius-200);
  --radius-full: var(--radius-1000);
  --size-xsmall: var(--size-100);
  --size-small: var(--size-150);
  --size-default: var(--size-medium);
  --size-medium: var(--size-200);
  --size-large: var(--size-300);
  --size-xlarge: var(--size-350);
  --size-xxlarge: var(--size-400);
  --size-xxxlarge: var(--size-500);
  --size-xxxxlarge: var(--size-600);
  --size-xxxxxlarge: var(--size-700);
  --space-none: var(--space-0);
  --space-tight: var(--space-50);
  --space-compact: var(--space-75);
  --space-default: var(--space-100);
  --space-comfortable: var(--space-150);
  --space-loose: var(--space-200);
  --space-spacious: var(--space-400);
  --text-size-caption: var(--font-size-100);
  --text-size-secondary: var(--font-size-150);
  --text-size-body: var(--font-size-200);
  --text-size-button: var(--text-size-body);
  --text-size-navigation: var(--text-size-body);
  --text-size-h3: var(--font-size-300);
  --text-size-h2: var(--font-size-500);
  --text-size-h1: var(--font-size-350);
  --text-weight-light: var(--font-weight-400);
  --text-weight-normal: var(--font-weight-500);
  --text-weight-semibold: var(--font-weight-600);
  --text-weight-bold: var(--font-weight-bold);
  --width-xxsmall: var(--width-50);
  --width-xsmall: var(--width-100);
  --width-small: var(--width-150);
  --width-medium: var(--width-300);
  --width-large: var(--width-450);
  --width-xlarge: var(--width-500);
  --width-xxlarge: var(--width-600);
  --width-xxxlarge: var(--width-800);
  --width-xxxxxlarge: var(--width-1000);

  /* Components */
  /* color */
  --badge-alert-bg-default: var(--accent-yellow-transparent);
  --badge-alert-text-default: var(--colors-yellow-700);
  --badge-error-bg-default: var(--status-error-transaparent);
  --badge-error-text-default: var(--status-error-dark);
  --badge-green-bg-default: var(--accent-green-primary);
  --badge-green-text-default: var(--text-color-primary);
  --badge-indigo-bg-default: var(--accent-indigo-primary);
  --badge-indigo-text-default: var(--text-color-inverse);
  --badge-info-bg-default: var(--status-info-transparent);
  --badge-info-text-default: var(--status-info-dark);
  --badge-navy-bg-default: var(--accent-navy-primary);
  --badge-navy-text-default: var(--text-color-inverse);
  --badge-neutral-bg-default: var(--surface-alt);
  --badge-neutral-text-default: var(--text-color-primary);
  --badge-orange-bg-default: var(--colors-orange-500);
  --badge-orange-text-default: var(--text-color-primary);
  --badge-pink-bg-default: var(--accent-pink-primary);
  --badge-pink-text-default: var(--text-color-primary);
  --badge-primary-bg: var(--brand-primary-default);
  --badge-primary-text: var(--text-color-inverse);
  --badge-purple-bg-default: var(--accent-purple-primary);
  --badge-purple-text-default: var(--text-color-primary);
  --badge-red-bg-default: var(--accent-red-primary);
  --badge-red-text-default: var(--text-color-primary);
  --badge-sand-bg-default: var(--accent-sand-primary);
  --badge-sand-text-default: var(--text-color-primary);
  --badge-secondary-border: var(--button-secondary-bg-default);
  --badge-secondary-text: var(--text-color-inverse);
  --badge-success-bg-default: var(--status-success-transparent);
  --badge-success-text-default: var(--status-success-dark);
  --badge-teal-bg-default: var(--accent-teal-primary);
  --badge-teal-text-default: var(--text-color-primary);
  --badge-warning-bg-default: var(--status-warning-transparent);
  --badge-warning-text-default: var(--status-warning-dark);
  --badge-yellow-bg-default: var(--colors-yellow-500);
  --badge-yellow-text-default: var(--text-color-primary);
  --button-distructive-border: var(--button-secondary-bg-default);
  --button-distructive-text: var(--text-color-inverse);
  --button-distructive-bg-default: var(--surface-transparent);
  --button-distructive-bg-disabled: var(--surface-transparent);
  --button-distructive-bg-pressed: var(--status-error-transaparent);
  --button-distructive-border-default: var(--status-error-primary);
  --button-distructive-border-disabled: var(--status-error-transaparent);
  --button-distructive-border-pressed: var(--status-error-dark);
  --button-distructive-icon-default: var(--status-error-primary);
  --button-distructive-icon-disabled: var(--status-error-transaparent);
  --button-distructive-icon-pressed: var(--status-error-dark);
  --button-distructive-text-default: var(--status-error-primary);
  --button-distructive-text-disabled: var(--status-error-transaparent);
  --button-distructive-text-pressed: var(--status-error-dark);
  --button-outline-bg-active: var(--button-primary-bg-pressed);
  --button-outline-bg-default: var(--surface-transparent);
  --button-outline-bg-pressed: var(--surface-pressed);
  --button-outline-border-active: var(--surface-transparent);
  --button-outline-border-default: var(--button-secondary-bg-default);
  --button-outline-border-pressed: var(--button-secondary-bg-pressed);
  --button-outline-icon-active: var(--button-outline-border-active);
  --button-outline-icon-default: var(--button-outline-border-default);
  --button-outline-icon-pressed: var(--button-outline-border-pressed);
  --button-outline-text-active: var(--text-color-inverse);
  --button-outline-text-default: var(--button-outline-border-default);
  --button-outline-text-pressed: var(--button-outline-border-pressed);
  --button-primary-bg-active: var(--brand-primary-active);
  --button-primary-bg-default: var(--brand-primary-default);
  --button-primary-bg-pressed: var(--brand-primary-pressed);
  --button-primary-icon-active: var(--text-color-inverse);
  --button-primary-icon-default: var(--text-color-inverse);
  --button-primary-icon-pressed: var(--text-color-disabled);
  --button-primary-text-active: var(--text-color-inverse);
  --button-primary-text-default: var(--text-color-inverse);
  --button-primary-text-pressed: var(--text-color-inverse);
  --button-secondary-bg-active: var(--brand-secondary-active);
  --button-secondary-bg-default: var(--brand-secondary-default);
  --button-secondary-bg-pressed: var(--brand-secondary-pressed);
  --button-secondary-icon-active: var(--text-color-inverse);
  --button-secondary-icon-default: var(--text-color-inverse);
  --button-secondary-icon-pressed: var(--text-color-disabled);
  --button-secondary-text-active: var(--text-color-inverse);
  --button-secondary-text-default: var(--text-color-inverse);
  --button-secondary-text-pressed: var(--text-color-disabled);
  --filter-bg: var(--surface-alt);
  --input-bg-default: var(--surface-alt);
  --input-bg-disabled: var(--surface-base);
  --input-bg-pressed: var(--surface-pressed);
  --input-border-color-default: var(--border-color-subtle);
  --input-border-color-error: var(--border-color-error);
  --input-border-color-focus: var(--border-color-focus);
  --input-border-color-pressed: var(--border-color-default);
  --input-font-color-default: var(--text-color-primary);
  --input-font-color-disabled: var(--text-color-disabled);
  --input-helper-color-default: var(--text-color-secondary);
  --input-helper-color-error: var(--text-color-error);
  --input-label-color-default: var(--text-color-primary);
  --input-label-color-error: var(--text-color-error);
  --page-bg-default: var(--surface-base);
  --progress-fill-bg-default: var(--button-primary-bg-default);
  --progress-track-bg-default: var(--surface-pressed);
  --selector-bg-default: var(--surface-alt);
  --selector-bg-pressed: var(--surface-alt);
  --selector-border-color-default: var(--border-color-subtle);
  --selector-helper-color-default: var(--text-color-secondary);
  --summary-tile-bg-active: var(--surface-alt);
  --summary-tile-bg-default: var(--surface-alt);
  --summary-tile-bg-pressed: var(--surface-base);
  --summary-tile-font-color-default: var(--text-color-primary);
  --tabs-bg: var(--surface-alt);
  --tabs-font-color: var(--text-color-primary);
  --tabs-icon-color: var(--tabs-font-color);
  --tabs-icononly-color: var(--tabs-font-color);
  --timepicker-cell-bg: var(--surface-base);
  --timepicker-cell-border-default: var(--input-border-color-default);
  --timepicker-cell-border-focus: var(--input-border-color-focus);
  --timepicker-font-color: var(--text-color-primary);
  /* number */
  --badge-font-size: var(--text-size-caption);
  --badge-font-weight: var(--text-weight-normal);
  --badge-gap-default: var(--gap-compact);
  --badge-height-default: var(--height-xxsmall);
  --badge-icon-default: var(--icon-small);
  --badge-padding-block-default: var(--padding-tight);
  --badge-padding-inline-default: var(--padding-regular);
  --badge-radius-default: var(--radius-sm);
  --button-border-width: var(--border-width-thin);
  --button-font-size: var(--text-size-button);
  --button-font-weight: var(--text-weight-normal);
  --button-gap-default: var(--gap-regular);
  --button-height-sm: var(--height-small);
  --button-height-md: var(--height-medium);
  --button-icon-size-default: var(--icon-medium);
  --button-icononly-size-sm: var(--button-height-sm);
  --button-icononly-size-default: var(--button-height-md);
  --button-padding-block-default: var(--padding-tight);
  --button-padding-inline-default: var(--padding-regular);
  --button-radius-default: var(--radius-md);
  --filter-radius: var(--radius-lg);
  --filter-padding-block: var(--padding-regular);
  --filter-padding-inline: var(--padding-comfortable);
  --input-border-width-default: var(--border-width-default);
  --input-border-width-error: var(--border-width-thick);
  --input-border-width-focus: var(--border-width-thick);
  --input-font-size-default: var(--text-size-body);
  --input-font-weight-default: var(--text-weight-light);
  --input-gap-group: var(--gap-tight);
  --input-gap-default: var(--gap-compact);
  --input-height-small: var(--height-small);
  --input-height-default: var(--height-medium);
  --input-helper-size-default: var(--text-size-caption);
  --input-helper-weight-default: var(--text-weight-light);
  --input-icon-size-small: var(--icon-small);
  --input-icon-size-default: var(--icon-medium);
  --input-label-size-default: var(--text-size-caption);
  --input-label-weight-default: var(--text-weight-light);
  --input-padding-block-default: var(--padding-tight);
  --input-padding-inline-default: var(--padding-regular);
  --input-radius-default: var(--radius-md);
  --page-gap-tight: var(--gap-regular);
  --page-gap-default: var(--gap-comfortable);
  --page-gap-comfortable: var(--gap-loose);
  --page-gap-section: var(--gap-spacious);
  --page-padding-inline: var(--padding-comfortable);
  --page-padding-block: var(--padding-loose);
  --progress-height-default: var(--size-xsmall);
  --progress-padding-block: var(--padding-none);
  --progress-padding-inline: var(--padding-none);
  --progress-radius-none: var(--radius-none);
  --progress-radius-default: var(--radius-sm);
  --selector-border-width-default: var(--border-width-default);
  --selector-gap-group: var(--gap-tight);
  --selector-gap-default: var(--gap-compact);
  --selector-height-default: var(--height-medium);
  --selector-helper-size-default: var(--text-size-caption);
  --selector-helper-weight-default: var(--text-weight-light);
  --selector-padding-block-default: var(--padding-tight);
  --selector-padding-inline-default: var(--padding-regular);
  --selector-radius-default: var(--radius-sm);
  --summary-tile-font-size-discription: var(--text-size-body);
  --summary-tile-font-size-title: var(--text-size-h2);
  --summary-tile-font-weight-default: var(--text-weight-light);
  --summary-tile-font-weight-title: var(--text-weight-normal);
  --summary-tile-gap-default: var(--page-gap-default);
  --summary-tile-padding-block: var(--padding-regular);
  --summary-tile-padding-inline: var(--padding-comfortable);
  --summary-tile-radius-default: var(--radius-lg);
  --tabs-border-width: var(--border-width-thin);
  --tabs-font-size: var(--text-size-button);
  --tabs-font-weight: var(--text-weight-light);
  --tabs-gap-default: var(--gap-regular);
  --tabs-height-default: var(--height-medium);
  --tabs-icon-size-default: var(--icon-medium);
  --tabs-icononly-size-sm: var(--button-height-sm);
  --tabs-icononly-size-default: var(--button-height-md);
  --tabs-padding-block-default: var(--padding-compact);
  --tabs-padding-inline-default: var(--padding-regular);
  --tabs-radius-default: var(--radius-lg);
  --timepicker-radius: var(--radius-sm);
  --timepicker-cell-radius: var(--radius-sm);
  --timepicker-cell-height: var(--height-large);
  --timepicker-font-size-label: var(--text-size-caption);
  --timepicker-font-size-default: var(--text-size-h2);
  --timepicker-font-weight-default: var(--text-weight-normal);
  --timepicker-font-weight-label: var(--text-weight-bold);
  --timepicker-item-height: var(--height-medium);
  --timepicker-item-gap-block: var(--gap-tight);
  --timepicker-item-gap-inline: var(--gap-compact);
  --timepicker-padding-block: var(--padding-regular);
  --timepicker-padding-inline: var(--padding-comfortable);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

